In [1]:
import pandas as pd

In [4]:
data = {
    'Product ID': [1, 1, 2, 2],
    'Product ID2': [1, 3, 1, 2],
    'Number Sold': [10, 6, 5, 22]
}


df = pd.DataFrame(data)
df

   Product ID  Product ID2  Number Sold
0           1            1           10
1           1            3            6
2           2            1            5
3           2            2           22