In [1]:
import pandas as pd

In [4]:
data = {
    'Product ID1': [1, 1, 2, 2],
    'Product ID2': [1, 3, 1, 2],
    'Number Sold': [10, 6, 5, 22]
}


df = pd.DataFrame(data)
df

   Product ID1  Product ID2  Number Sold
0            1            1           10
1            1            3            6
2            2            1            5
3            2            2           22

Since we are not given any context for the data above we can put our hypothesis based on the data property and attributes. 

First of all we can infer that the given data give an understanding of a company's selling of some products. The product also comes with some mapping such as "Product ID" from which we assume that the first one is a category of product from which the sub-category has emerged. At first let's partition the data according to the product id to get a broader understanding.

In [12]:
df_prod1 = df[df['Product ID1'] == 1]
df_prod1

   Product ID1  Product ID2  Number Sold
0            1            1           10
1            1            3            6

In [13]:
df_prod2 = df[df['Product ID1'] == 2]
df_prod2

   Product ID1  Product ID2  Number Sold
2            2            1            5
3            2            2           22

Let's examine each of the category one by one. At first we have we have Product ID 1 and let's assume this is category 1 of the product. Here we can see that the it has two sub-product 1 & 3. Let's also assume that there was a product id 2 which was not sold so did not made it to this data. So, we will have,

In [14]:
df_prod1 = df_prod1.append({"Product ID1": 1, "Product ID2": 2, "Number Sold": 0}, ignore_index=True)
df_prod1

AttributeError: 'DataFrame' object has no attribute 'append'